APP_NAME="Cabuyao CHO-I System"
APP_ENV=local
APP_KEY=base64:olfdXDcB2D/IBJQ/4TLZ6fu4f2stB15pofg5qxzS/Xk=
APP_DEBUG=true
APP_URL=https://your-custom-subdomain.trycloudflare.com
AUTH_EXPOSE_CODES=true

FRONTEND_URL=https://cabuyao-cho-1-system.vercel.app,http://localhost:5173,http://127.0.0.1:5173
SANCTUM_STATEFUL_DOMAINS=cabuyao-cho-1-system.vercel.app,localhost:5173,127.0.0.1:5173,your-custom-subdomain.trycloudflare.com

DB_CONNECTION=sqlite
